@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;

}

ul{
    list-style-type: none;
    display: flex;
    gap: 25px;
}
a{
    text-decoration: none;
    color: #F9FAF8;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    min-height: 100vh;
}

.container.hero, 
.container.information,
.container.quotation
/* .container.CTA  */
{
    padding: 0 200px;
}

.hero{
 flex-direction: column;
 color:#F9FAF8;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header .logo{
    font-size: 24px;
}


.hero .left-content p{
    color: #E5E7EB;
    font-size: 18px;
    /* width: 445px; */
}

.hero .left-content h1{
    font-size: 48px;
    font-weight: 900;
}

.main-content{
    flex: 1;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    gap: 50px

}

.left-content{
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
  
}
.sign-up-btn{
    width: 130px;
    height: 40px;
    border-radius: 10px;
    color: #E5E7EB;
    background-color:#3882F6;
    font-size: 18px;
    border: none;
}

.right-content{
    width: 520px;
    height: 240px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero,
.footer{
    background-color: #1F2937;
}
.quotation{
    background-color:#E5E7EB ;
}

.header{
    height: 70px;
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 55px;
}
.information h1{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.card-container{
    display: flex;
    gap:55px;
}

.card {
    color: #adaeb0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    width: 150px;
    gap: 10px;
}
.card-img{
    height: 150px;
    width: 150px;
    border: 2px solid #3882F6;
    border-radius: 15px;
}

.quotation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
      color: #1F2937;

}

.quotation .quote{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
          width: 760px;
}
.quote .quote-name{
    text-align: right;
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
}

.container{
    display: flex;
    flex-direction: column;
}
.CTA{
    display: flex;
    align-items: center;
}

.CTA-box{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.CTA-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:1025px;
    height: 145px;
    border-radius: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
}

.CTA-btn{
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
    background-color: #3882F6;
    padding: 10px 25px;
    border: 2px solid #F9FAF8;
    border-radius: 15px;
}

.footer{
    height: 98px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}

